.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    flex-wrap: wrap;
    gap: 2.4rem;
    align-items: center;
    padding: 0 8.25rem;
    margin-left: 5%;
}

h1 {
    text-align: center;
    letter-spacing: 2.5px;
    margin: 20px 0;
    font-size: 4rem;
}