.navbar {
    position: fixed;
    width: 100%;
    background: #252b48;
    padding: 1.77rem 2.88rem;
    display: flex;
    justify-content: space-between;
}

.cart {
    position: relative;
}

.cart>span {
    position: absolute;
    right: -15px;
    bottom: -15px;
    font-size: 1.92rem;
    color: #fff;
}

.btn {
    cursor: pointer;
}