/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

/* BASICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    font-family: Nova Square, sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}